* {
  box-sizing: border-box;
}

body {
  background-color: '#F3F3F3';
  margin: 0 auto
}

.editor-container {
  max-width: 960px;
  min-height: 1280px;
  padding: 1rem;
  box-shadow: 0 0 4px rgbs(0,0,0,0.5)
}


